<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="inputEmail">Title</label>
		<div class="controls">
			<input type="text" id="inputEmail" ng-model="name.title"
				placeholder="title" required min="2">
		</div>
				
		<label class="control-label" for="inputEmail">News/Article</label>
		<div class="controls">
			<textarea rows="8" cols="8" id="inputEmail" ng-model="name.text_content"
				placeholder="News/Article" required min="2">
			</textarea>
		</div>
	</div>
	<div class="control-group">
		<hr />
		<div class="controls">
			<button type="button" class="btn btn-primary"
				ng-disabled="!name.text_content ng-hide="editMode"
				ng-click="add(name)">Add Name</button>
			<button type="button" class="btn" ng-click="resetNamesForm()">Reset</button>
		</div>
	</div>
</form>
<hr />
<h3>News Articles</h3>
<div class="alert alert-info" ng-show="names.length == 0">No News/Article found</div>
<table class="table table-bordered table-striped"
	ng-show="names.length > 0">
	<thead>
		<tr>
			<th style="text-align: center; width: 25px;">Id</th>
			<th style="text-align: center;">News/Article</th>
			<th style="text-align: center;">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="name in names | orderBy:predicate">
			<td style="text-align: center;">{{name.id}}</td>
			<td>{{name.text_content}}</td>
			<td style="width: 100px; text-align: center;">
				<button class="btn btn-mini btn-danger"	ng-click="removeName(name.id)">Remove</button>
			</td>
		</tr>
	</tbody>
</table>
<button class="btn btn-danger" ng-show="names.length > 1"
	ng-click="removeAllNames()">Remove All Names</button>